extends base

block _content
    main.content
        //- header.header
        //-     a.header__extend
        //-         svg
        //-             use(xlink:href='/img/icons.svg#icon-menu')
        //-     a.header__logout
        //-         svg
        //-             use(xlink:href='/img/icons.svg#icon-log-out')
        //-         span.logout Logout
        .content__inner
            block content
