extends ../_content
//- Label'ın içindeki for ile inputların name'i kesinlikle aynı olmalı
block content
    .dashboard
        .dashboard__add
            form#dataForm(onsubmit='return false')
                .wizard
                    h3 Details
                    section.content-container
                        h1 Slider Details
                        .content-inner 
                            .content-box(class='w-1/2')
                                label(for='name') Name 
                                .input-box
                                    input.input-text(type='text' id='name' name='name' data-required='required')                              
                            .content-box(class='w-1/2')
                                label(for='link') Link 
                                .input-box
                                    input.input-text(type='text' id='link' name='link' data-required='required')                              
                            .content-box(class='w-1/2')
                                label(for='description') Description 
                                .input-box
                                    textarea.input-text(id='description' name='description' data-required='required')                          
                            .content-box(class='w-full')
                                label(for='active') Active / Passive
                                label.toggle-switchy(for='active')
                                    input#active(type='checkbox' name='active' checked='' value='true')
                                    span.toggle
                                        span.switch
                    h3 Image
                    section.content-container
                        h1 Original Image
                        .content-inner 
                            .content-box(class='w-full')
                                .image-box.image-box--1
                                    label.hidden(for='imageOriginal') Image 
                                    input.input-img.input--1(type='file' id='imageOriginal' name='imageOriginal' data-required='required')
                                    .image-upload
                                        svg
                                            use(xlink:href='/img/icons.svg#icon-file-plus')
                                ul.preview-container.preview-container--1.hidden
                        h1 Large Image
                        .content-inner 
                            .content-box(class='w-full')
                                .image-box.image-box--2
                                    label.hidden(for='imageLarge') Image 
                                    input.input-img.input--2(type='file' id='imageLarge' name='imageLarge' data-required='required')
                                    .image-upload
                                        svg
                                            use(xlink:href='/img/icons.svg#icon-file-plus')
                                ul.preview-container.preview-container--2.hidden
                        h1 Medium Image
                        .content-inner 
                            .content-box(class='w-full')
                                .image-box.image-box--3
                                    label.hidden(for='imageMedium') Image 
                                    input.input-img.input--3(type='file' id='imageMedium' name='imageMedium' data-required='required')
                                    .image-upload
                                        svg
                                            use(xlink:href='/img/icons.svg#icon-file-plus')
                                ul.preview-container.preview-container--3.hidden
                        h1 Small Image
                        .content-inner 
                            .content-box(class='w-full')
                                .image-box.image-box--4
                                    label.hidden(for='imageSmall') Image 
                                    input.input-img.input--4(type='file' id='imageSmall' name='imageSmall' data-required='required')
                                    .image-upload
                                        svg
                                            use(xlink:href='/img/icons.svg#icon-file-plus')
                                ul.preview-container.preview-container--4.hidden